numpy==1.26.1
Pillow
einops
huggingface-hub[torch]>=0.22
kornia
roma
pypose
pyequilib==0.3.0
opencv-python
scipy
numba==0.61.2
tqdm
omegaconf
hydra-core
requests
wcmatch
iopath
fvcore
prettytable
tensorboard
viser==0.2.23
matplotlib
trimesh
xformers==0.0.32.post2
faiss-gpu
pycolmap==3.10.0
imageio[pyav]
pytorch-lightning
pytorch-metric-learning
